<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Create Account</title>
        <!-- Loads the CSS file from Flask’s static folder -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/create_account.css')}}">
    </head>
          <body>
<div class="page-container">

    <h2 class="page-title">
        User Account Creation Tool
    </h2>

    <form action="{{ url_for('auth.create_new_account') }}" method="POST" id="account_form">
            <div id="error_message" style="color: red; display:none"></div>
      
     <p>
          <a href="{{ url_for('auth.staff_dashboard') }}">
            <button type="button">Back to Dashboard</button>
           </a>
     </p>
            
            <div>
                <label>First Name:</label>
                <input type="text" id="first_name" name="first_name" required>
            </div>
            
            <div>
                <label>Last Name:</label>
                <input type="text" id="last_name" name="last_name" required>
            </div>

            <div>
                <label>Email:</label>
                <input type="text" id="email" name="email" required>
            </div>

            <div>
                <label>Password:</label>
                <input type="text" id="password" name="password" required>
            </div>

            <div>
                <label>Role:</label>
                <select id="role" name="role" required>
                    <option value="Student">Student</option>
                    <option value="Staff">Staff</option>
                    <option value="Manager">Manager</option>
                </select>
            </div>

            <div id="department" name="department" style="display: none;">
                <label>Department:</label>
                <select>
                    <option value="">None</option>
                    <option value="IT">IT</option>
                    <option value="Facilities">Facilities</option>
                    <option value="Academic Support">Academic Support</option>
                </select>
            </div>

            <div class="form-actions">
                   <button type="submit">Create Account</button>
            </div>
        </form>
    </body>

    <script>
            document.getElementById("role").addEventListener("change", function(){
                const selected = this.value;
                const deptDiv = document.getElementById("department");

                if (selected == "Staff" || selected == "Manager"){
                    deptDiv.style.display = "block";
                }
                else{
                    deptDiv.style.display = "None";
                }
            });

            document.getElementById("account_form").addEventListener("submit", function(event){
                const emailInput = document.getElementById("user_name").value;
                const errorBox = document.getElementById("error_message");

                //Regex pattern
                const pattern= /^[a-zA-Z0-9._%+-]+@parkfield\.edu$/;

                //Check if email matches Regex
                if(!pattern.test(emailInput)){
                    event.preventDefault();//prevent Submission
                    errorBox.textContent = "Please input an email in the form 'username@parkfield.edu'.";
                    errorBox.style.display = "block";
                }else{
                    errorBox.style.display = "none";
                }
            });
        </script>
</html>
