<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Dashboard - Automated School Ticketing System</title>
        <!-- Loads the CSS file from Flask’s static folder -->
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='styles.css') }}"
        />
    </head>
    <body>
        <h1>My Tickets</h1>

        <p>Submission Date: 2/4/2026</p>
        <p>Status: Not Complete - ETA 1 HR</p>
        <p>Priority: Medium</p>
        <p>Department: Technology - John Doe</p>
        <p>Name: Broke Laptop</p>
        <p>Description: Laptop will not power on</p>
    </body>
</html>
