<!-- Base html file for application login entry -->

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login - Automated School Ticketing System</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/styles.css') }}"
        />
    </head>
    <body>
        <section class="login-menu">
            <h1 id="login-header">Login</h1>
            <!-- Link users to the separate university login page -->
            <a href="{{ url_for('auth.university_login') }}" id="login-button">
                Sign in with University Credentials
            </a>
        </section>
    </body>
</html>
