<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Password Reset</title>
        <!-- Loads the CSS file from Flask’s static folder -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/password.css')}}">
    </head>
          <body>
<div class="page-container">

    <h2 class="page-title">
        Self-Service Password Reset
    </h2>
      
     <p>
          <a href="{{ url_for('auth.university_login') }}">
            <button type="button">Back to Login</button>
           </a>
     </p>
            
            <div>
                <label>Email:</label>
                <input type="text" id="full_name" name="full_name" required>
            </div>
  
            <div>
                <label>Security Question:</label>
                <select id="role" name="role" required>
                    <option value="1">What is your name?</option>
                    <option value="2">Where were you born?</option>
                    <option value="3">How many fingers am I holding up?</option>
                </select>
            </div>
  
            <div>
                <label>Answer:</label>
                <input type="text" id="full_name" name="full_name" required>
            </div>
 
            <div class="form-actions">
                   <button type="submit">Reset Password</button>
            </div>
        </form>
    </body>
</html>
